body {
  padding : 40px;
  border : 2px solid black;
  margin: 40px;
}

.App {
  width: 400px;
  margin:  0 auto;
  border : 2px dotted red;
  text-align: center;
  padding: 10px;
}

.controller {
  background-color: brown;
}

.controller button {
  width: 50px;
  height: 30px;
  font-weight: 70px;
  border-radius: 3px;
}